<%provide(:title,"Clock+")%>
    <h1>Clock+</h1>
    <p>Clock+ built by Minjin Chou -s3641315@student.rmit.edu.au -attempt grade level: PA -tutor group: Friday 4:30pm Group</p>
   <div class= "col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">Clocks+</div>
      <div class="panel-body">
      <%= render 'shared/clock'%>
      </div>
    </div>
    </div>
    <h2>
    <div class="col-md-3">
        <i class="fas fa-business-time"></i> <br>
        Business Time<br>
        <i class="fas fa-clock"></i> <br>
        Business Overtime<br>
        <i class="fas fa-male"></i> <br>
        Personal Time<br>
        <i class="fas fa-moon"></i> <br>
        Sleeping Time 
    </div>
</h2>