<%provide(:title,"Clock+")%>
    <h1>Clock+</h1>
    <p>Clock+ built by Minjin Chou -s3641315@student.rmit.edu.au -attempt grade level: PA -tutor group: Friday 4:30pm Group</p>
   <div class= "col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">Clocks+</div>
      <div class="panel-body">
      <%= render 'shared/clock'%>
      </div>
    </div>
    </div>
    <div class="col-md-4">
    <div class = "panel panel-default">
    <div class = "panel-heading">Modes+</div>
    <div class="panel-body">
    <i class="fas fa-business-time"></i> Business Time<br>
    <i class="fas fa-clock"></i> Business Overtime<br>
    <i class="fas fa-male"></i> Personal Time<br>
    <i class="fas fa-moon"></i> Sleeping Time 
    </div>
    </div>
    </div>
