<footer class="footer">
  <div class="container">
        <nav>
            <ul class="nav navbar-nav navbar-left">
                Clock+<br>
                Email: s3641315@student.rmit.edu.au<br>
                attempt: PA level<br>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                Share Social<br>
                <li><%=link_to "",'https://www.facebook.com/',class:"fab fa-facebook-square" %></li>
                <li><%=link_to "",'https://twitter.com/',class:"fab fa-twitter-square" %></li>
                <li><%=link_to "",'https://au.linkedin.com/',class:"fab fa-linkedin" %></li>
            </ul>
        </nav>
    </div>
</footer>
