<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <nav>
            <ul class="nav navbar-nav navbar-left">
                <%= link_to "Clock+" , '#' ,id:"logo" %>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><%= link_to "Showcase", root_path %></li>
                <li><%= mail_to "s3641315@student.rmit.edu.au", 'Contact Us', class: "btn" %></li>
            </ul>
        </nav>
    </div>
</header>